version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    ignore:
      - dependency-name: tailwindcss
    groups:
      all-dependencies:
        patterns:
          - '*'
    open-pull-requests-limit: 1
    commit-message:
      prefix: 'Chore:'
